input {
    background: red;
}
input[type=submit]{
    background: rgb(0, 217, 255);
}
input[type=email]{
    background: rgb(94, 92, 238);
}
input [ type = text]{
    background: yellowgreen;
}
.x{
    width: 400px;
    height: 100px;
    background: orange;
    border-width: 10px;
    border-color: red;
    border-style:double;

}
.border{
    width: 400px;
    height: 200px;
    background: yellow;
    border: 10px green solid;
}
h1{
    color : brown;
    font-size: 60px;
    font-family: fantasy;
    font-weight: 100;
}
p{
    color:aqua;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 3 0px;
}

.work{
    color: blue;
    text-align: right;
    direction: rtl;
    font-size: xx-large;
}
.work2{
    color: red;
    direction: rtl;
}
.image{
    height: 200px;
    width: 200px;
    border: 5px black solid;
    background-image: url(../html_work/image1.png);
}
.image1{
    color:red;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png);
}
.image2{
    color:red;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    background-size: cover;
    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png);
}
.image3{
    color:red;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    background-size: contain;
   
    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png); 
    
}
.image4{
    color:red;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    background-size: 400px 400px;
   
    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png); 
    
}
.image5{
    color:red;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    background-size: 50px 50px;
    background-position: center;
    background-position: 30px 30px;
    background-position: 30% 50%;
    
    background-repeat: no-repeat;

    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png); 
    
}
.image6{
    color:red;
    height: 1000px;
    width: 400px;
    border: 5px black solid;
    background-size: 50px 50px;
    
    background-repeat: no-repeat;
    background-image: url(../../Screenshot\ 2022-10-20\ 112754.png); 
    background-attachment:fixed ;
}


.link1{
    text-decoration: none;
    color: red;
    cursor: alias;
}
.link1:hover{
    color : yellowgreen;
    font-size: 20px;
}
.block{
    background-color: red;
    width: 200px;
    margin: 10px;
    height: 50px;
    padding: 20px;
}
.line{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.line1{
    display: block;
    background-color: red;
    width: 200px;
    margin: 10px;
    height: 50px;
    padding: 20PX;
}
.block1{
    display:inline;
    background-color: blue;
    width: 200px;
    height: 200px;
}
.mix{
    display: inline-block;
    background-color: red;
    width: 200px;
    margin: 10px;
    height: 50px;
    padding: 20px;
}

